<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>发布会签到系统</title>

    <!-- Bootstrap core CSS -->
      <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

      <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/login_action/" method="post">
        <h2 class="form-signin-heading">发布会签到系统</h2>
        <label for="inputEmail" class="sr-only">帐号：</label>
        <input type="text" id="inputEmail" name="username" class="form-control">
        <label for="inputPassword" class="sr-only">密码：</label>
        <input type="password" id="inputPassword" name="password" class="form-control">
          <p>{{ error }}</p><br>
          {% csrf_token %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

      </form>

    </div> <!-- /container -->


  </body>
</html>


<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Page</title>
</head>
<body>
  <h1>发布会管理</h1>
    <form method="post" action="/login_action/">
        <input name="username" type="text" placeholder="username"><br>
        <input name="password" type="password" placeholder="password"><br>
        {{ error }}<br>
        <button id="btn" type="submit">登录</button>
        {% csrf_token %}
    </form>
</body>
</html>
-->